<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
    <mat-label>Название (Обязательно)</mat-label>
    <input
    #inputTitle
    matInput
    [(ngModel)]="category.title"
    (keydown.enter)="confirm()">
    <button *ngIf="category.title.trim().length > 0"
            class="clear-icon size25"
            mat-botton matSuffix mat-icon-button aria-label="Clear"
            (click)="category.title=''">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

</mat-dialog-content>


<mat-dialog-actions>
  <div class="col-12 text-center">
    <button mat-raised-button color="primary"
            (click)="confirm()"
            [disabled]="inputTitle.value.trim().length==0">
      Сохранить
    </button>

    <button mat-raised-button (click)="cancel()">Отмена</button>
  </div>

  <div *ngIf="canDelete"
    class="col-12 text-center">
    <button mat-button
            class="red"
            (click)="delete()">
      Удалить категорию
    </button>
  </div>
</mat-dialog-actions>
