<div class="sidebar" data-background-color="white" data-color="purple">

  <div id="categories">

    <!--  Название/действия левого столбца-->
    <div class="logo">

      <span class="nav-title">Категории</span>

      <span class="add-icon-area">
      <button mat-icon-button class="add-icon"
              (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </span>

    </div>
  </div>

  <!--  Вывод всех категорий списком-->
  <div class="sidebar-wrapper">
    <ul class="nav">

      <div class="search-category-area">
        <mat-form-field class="example-full-width">

<!--          Поле поиска категории -->
          <input
            (keydown.escape)="clearAndSearch()"
            [(ngModel)]="filterTitle"
            (ngModelChange)="checkFilterChanged()"
            matInput
            matlength="256"
            placeholder="Поиск категорий">

<!--          Кнопка очистки-->
          <button
            *ngIf="filterTitle && filterTitle.trim().length > 0"
            aria-label="clear"
            class="search-category-button"
            mat-button mat-icon-button matSuffix
            (click)="clearAndSearch()">
            <mat-icon>clear</mat-icon>
          </button>

<!--          Кнопка отправки поискового запроса в бд-->
          <button
            *ngIf="filterTitle && filterTitle.trim().length > 0"
            mat-button matSuffix mat-icon-button
            (click)="search()"
            [ngClass]="{'blink-button': filterChanged}">
            <mat-icon>search</mat-icon>
          </button>

        </mat-form-field>
      </div>

      <!--      Категория ВСЕ - Для удобства -->
      <li class="nav-item category" (click)="showCategory(null)"
          [class.active]="selectedCategory === null">

        <a class="nav-link pointer">
          <span class="all-category-title">Все</span>
          <span class="uncompleted-count"> {{uncompletedCountForCategoryAll || 0}}</span>
        </a>

      </li>

      <!--      Разделитель-->
      <div class="line"></div>

      <!--  Если данных категорий нет, то выведем этот текст-->
      <div *ngIf="!categories || categories.length == 0"><p class="not-found">Ничего не найдено</p></div>

      <!--      Категории из БД-->
      <li
        *ngFor="let category of categories, let index = index"
        [class.active]="(selectedCategory && category) && category.id === selectedCategory.id"

        (mouseleave)="showEditIcon(false,index)"
        (mouseenter)="showEditIcon(true,index)"
        (click)="showCategory(category)"

        class="nav-item pointer">
        <a class="nav-link">
          <span class="category-title">{{category.title}}</span>
          <mat-icon *ngIf="(showEditIconCategory && indexMouseMove === index)"
                    (click)="$event.stopPropagation(); openEditDialog(category)"
                    class="edit-category-icon">edit
          </mat-icon>

          <span class="uncompleted-count"> {{category.uncompletedCount || 0}}</span>

        </a>
      </li>

    </ul>

  </div>

  <div class="sidebar-background"></div>

</div>






