
<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <mat-form-field>
      <mat-label>Название (обязательно)</mat-label>
      <input
      #inputTitle
      matInput
      [(ngModel)]="tpmTitle"
      (keydown.enter)="onConfirm()">
    <button *ngIf="tpmTitle.trim().length > 0"
      mat-botton matSuffix mat-icon-button aria-label="Clear"
            (click)="tpmTitle=''" class="size25">

      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Укажите категорию</mat-label>

    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Без категории</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{cat.title}}
      </mat-option>

    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Укажите приоритет</mat-label>

    <mat-select [(ngModel)]="tmpPriority">
      <mat-option [value]="null">Без приоритета</mat-option>
      <mat-option *ngFor="let pri of priorities" [value]="pri">
        {{pri.title}}
      </mat-option>

    </mat-select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>

  <button
  mat-raised-button color="primary"
  (click)="onConfirm()"
  [disabled]="inputTitle.value.trim().length==0">
  Сохранить
  </button>

  <button mat-raised-button (click)="onCancel()">Отмена</button>

</mat-dialog-actions>
