<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <!--    Если задача завершена, то изменение полей не доступно-->

  <!--Название-->
  <mat-form-field>
    <mat-label>Название (обязательно)</mat-label>


    <input
      [disabled]="task.completed != null && task.completed !== 0"
      #inputTitle
      matInput
      [(ngModel)]="newTitle"
      (keydown.enter)="confirm()">
    <button *ngIf="newTitle.trim().length > 0 && task.completed === 0"
            mat-botton matSuffix mat-icon-button aria-label="Clear"
            (click)="newTitle=''" class="dialog-toto-title">

      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <!--  Поле Категории-->
  <mat-form-field>
    <mat-label>Укажите категорию</mat-label>

    <mat-select [(value)]="newCategoryId" [disabled]="task.completed != null && task.completed !== 0">
      <mat-option [value]="null">Без категории</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat.id">
        {{cat.title}}
      </mat-option>

    </mat-select>
  </mat-form-field>

  <!--Поле приоритета-->
  <mat-form-field>
    <mat-label>Укажите приоритет</mat-label>

    <mat-select [(value)]="newPriorityId" [disabled]="task.completed != null && task.completed !== 0">
      <mat-option [value]="null">Без приоритета</mat-option>
      <mat-option *ngFor="let pri of priorities" [value]="pri.id">
        {{pri.title}}
      </mat-option>

    </mat-select>
  </mat-form-field>

  <mat-form-field>

    <!-- Добавляем компонент календарь   -->
    <!--    Указываем ссылку нашему тэгу-->
    <input
      [disabled]="task.completed != null && task.completed !== 0"
      matInput placeholder="Укажите срок выполнения" #inputDate
      readonly="true"

      [matDatepicker]="picker"
      [(ngModel)]="newDate"
      (click)="picker.open()">

    <!--    Иконка календаря-->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <!--    Компонент календаря(открытие по нажатию)-->
    <mat-datepicker #picker></mat-datepicker>

    <!--    Кнопка очистки-->
    <button
      [disabled]="task.completed != null && task.completed !== 0"
      *ngIf="inputDate.value.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="newDate = null" class="calendar-clear-icon">

      <mat-icon>clear</mat-icon>

    </button>

  </mat-form-field>

  <div class="row">
    <div class="col-12">
      <!-- если задача завершена - контролы не будут доступны -->
      <span class="ready-date" [ngClass]="{'disabled': task.completed}"
            (click)="!task.completed && setToday()">
      Сегодня
    </span>

      <span class="ready-date" [ngClass]="{'disabled': task.completed}"
            (click)="!task.completed && addDays(1)">
      Завтра
    </span>

      <span class="ready-date" [ngClass]="{'disabled': task.completed}"
            (click)="!task.completed && addDays(2)">
      Послезавтра
    </span>

      <span class="ready-date" [ngClass]="{'disabled': task.completed}"
            (click)="!task.completed && addDays(7)">
      Через неделю
    </span>
    </div>
  </div>

  <div class="gap20"></div>

</mat-dialog-content>


<!--Действия с формой-->
<mat-dialog-actions>

  <div class="col-md-5 col-12">

    <button mat-raised-button color="primary"
            (click)="confirm()"
            [disabled]="inputTitle.value.trim().length==0">
      Сохранить
    </button>

    <button mat-raised-button
            (click)="cancel()">
      Отмена
    </button>

  </div>

<!--  Операции над задачами-->
  <div class="col-md-7 col-12 text-right"
  *ngIf="canComplete || canDelete">

      <button *ngIf="canComplete && task && task.completed"
              mat-button
              (click)="activate()">
        Активировать
      </button>

      <button *ngIf="canComplete && task && !task.completed"
              mat-button
              (click)="complete()">
        Завершить задачу
      </button>

      <button mat-button
              *ngIf="canDelete"
              class="red"
              (click)="delete()">
        Удалить задачу
      </button>

  </div>

</mat-dialog-actions>
