<mat-dialog-content>
  <p mat-dialog-title>{{dialogTitle}}</p>

  <!--Название-->
  <mat-form-field>
    <mat-label>Название (обязательно)</mat-label>
    <input
      #inputTitle
      matInput
      [(ngModel)]="tpmTitle"
      (keydown.enter)="onConfirm()">
    <button *ngIf="tpmTitle.trim().length > 0"
            mat-botton matSuffix mat-icon-button aria-label="Clear"
            (click)="tpmTitle=''" class="size25">

      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <!--  Поле Категории-->
  <mat-form-field>
    <mat-label>Укажите категорию</mat-label>

    <mat-select [(ngModel)]="tmpCategory">
      <mat-option [value]="null">Без категории</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{cat.title}}
      </mat-option>

    </mat-select>
  </mat-form-field>

  <!--Поле приоритета-->
  <mat-form-field>
    <mat-label>Укажите приоритет</mat-label>

    <mat-select [(ngModel)]="tmpPriority">
      <mat-option [value]="null">Без приоритета</mat-option>
      <mat-option *ngFor="let pri of priorities" [value]="pri">
        {{pri.title}}
      </mat-option>

    </mat-select>
  </mat-form-field>

  <mat-form-field>

    <!-- Добавляем компонент календарь   -->
    <!--    Указываем ссылку нашему тэгу-->
    <input
      matInput placeholder="Укажите срок выполнения" #inputDate
      readonly="true"

      [matDatepicker]="picker"
      [(ngModel)]="tmpDate"
      (click)="picker.open()">

    <!--    Иконка календаря-->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

    <!--    Компонент календаря(открытие по нажатию)-->
    <mat-datepicker #picker></mat-datepicker>

    <!--    Кнопка очистки-->
    <button
      *ngIf="inputDate.value.trim().length > 0"
      mat-button matSuffix mat-icon-button aria-label="Clear"
      (click)="tmpDate=null" class="size25">

      <mat-icon>clear</mat-icon>

    </button>

  </mat-form-field>

</mat-dialog-content>


<!--Действия с формой-->
<mat-dialog-actions>

  <div class="col-md-5 col-12">

    <button mat-raised-button color="primary"
            (click)="onConfirm()"
            [disabled]="inputTitle.value.trim().length==0">
      Сохранить
    </button>

    <button mat-raised-button
            (click)="onCancel()">
      Отмена
    </button>

  </div>

  <div class="col-md-7 col-12 text-right">

<!--    Только для существующих задач-->
    <div *ngIf="canDelete()">

      <button *ngIf="task.completed"
              mat-button
              (click)="completeTask()">
        Активировать
      </button>

      <button *ngIf="!task.completed"
              mat-button
              (click)="completeTask()">
        Завершить задачу
      </button>

      <button mat-button
              class="red"
              (click)="delete()">
        Удалить задачу
      </button>
    </div>

  </div>

</mat-dialog-actions>
